fastapi[all]==0.40.0
uvicorn==0.9.0
aioredis==1.3.0
aiohttp==3.6.1
prometheus_client==0.7.1
pytest==5.2.1
tortoise-orm==0.15.23
aiomysql==0.0.20
sentry-sdk==0.12.3
starlette>=0.13.5 # not directly required, pinned by Snyk to avoid a vulnerability